@page "/order/{NavigateFrom}/Billing"
@*Go to Either /order/EntireBill/Billing or /order/SplitBill/Billing*@

@inject NavigationManager navigationManager
@inject MenuRepository MenuRepo  
@inject Table Table
@inject User User
@inject IModalService Modal

<button @onclick=revertBackToSite>
    <span class="iconify" data-icon="ep:back" data-width="40" data-height="40"></span>
    Back to 
    @if(NavigateFrom.Equals(SplitBillString))
    {
        <span>Split Bill</span>
    }
    else
    {
        <span>Ordered</span>
    }
</button>

@if(NavigateFrom.Equals(SplitBillString))
{
     <div class='wizard'>
        <span>
            <div class='shape'>1</div>
            <div>Split Bill</div>
        </span>
        <span>
            <div class='active'>2</div>
            <div style='font-weight:bold'>Billing</div>
        </span>
        <span>
            <div class='shape'>3</div>
            <div>Payment</div>
        </span>
        <span>
            <div class='shape'>4</div>
            <div>Review</div>
        </span>
        <div class="line-split"></div>
    </div>
}
else
{
   <div class='wizard'>
    <span>
        <div class='active'>1</div>
        <div style='font-weight:bold'>Billing</div>
    </span>
    <span>
        <div class='shape'>2</div>
        <div>Payment</div>
    </span>
    <span>
        <div class='shape'>3</div>
        <div>Review</div>
    </span>
    <div class="line"></div>
</div> 
}

<div class = 'entire_bill_popup__container'>
    <i class="fa-regular fa-xmark-large"> </i>
    <h1> Your Bill</h1>
    <div class = 'entire_bill_items__container'>
        <div class = 'item_names' style = 'overflow-y:scroll;'>
            @if(NavigateFrom.Equals(SplitBillString))
            {
                @foreach(var orderItem in User.Bill)
                {
                    <div class = 'item_description'>
                        <h5>@orderItem.MenuItem.Name</h5>
                    </div>
                    <div class = 'item_price'>
                        <h5>$@string.Format("{0:N2}", @orderItem.MenuItem.Price)</h5>
                    </div>
                }
            }
            else
            {
                 @foreach(var user in Table.GuestList)
                {
                    @foreach(var orderItem in user.Orders) 
                    {
                        @for (var num = 0; num < orderItem.Quantity; num++)
                        {
                            <div class = 'item_description'>
                                <h5>@orderItem.MenuItem.Name</h5>
                            </div>
                            <div class = 'item_price'>
                                <h5>$@string.Format("{0:N2}", @orderItem.MenuItem.Price)</h5>
                            </div>
                        }
                    }
                }
            }
        </div>
        <div class = 'buttons'>
            <div class = 'subtotal__container'>
                <span class = 'subtotal_name'>Subtotal: </span>
                <span class = 'subtotal_total'>$@string.Format("{0:N2}", @TableCost())</span>
            </div>
             
        </div>
    </div>
     @* Add the pop-up to Confirm button pls!*@
            <button class = 'confirm_button' @onclick='ProceedToPayment'>Proceed To Payment</button>     
</div>


@code {
    [Parameter]
    public string NavigateFrom { get; set; }
    string SplitBillString = "SplitBill";
    string EntireBillString = "EntireBill";

    double total;
    private double TableCost()
    {
        total = 0.0;
        if(NavigateFrom.Equals(SplitBillString))
        {
            // only done for User 1
            foreach(var cartItem in Table.GuestList[0].Bill) {
                total+=cartItem.MenuItem.Price;
            }
        }
        else
        {
            foreach(var user in Table.GuestList)
            {
                foreach(var cartItem in user.Orders) {
                    total+=cartItem.MenuItem.Price*cartItem.Quantity;
                }
            }
        }

        return total;
    }

    private void revertBackToSite() {
        if(NavigateFrom.Equals(SplitBillString))
        {
            navigationManager.NavigateTo("/order/SplitBill");
        }
        else
        {
            navigationManager.NavigateTo("/order");
        }
    }


    private async void ProceedToPayment()
    {
        await ToggleTransition();
        if(NavigateFrom.Equals(SplitBillString))
        {
            navigationManager.NavigateTo("/order/SplitBill/Payment");
        }
        else
        {
        navigationManager.NavigateTo("/order/EntireBill/Payment");
        }
    }

    private async Task ToggleTransition()
    {
        await Task.Delay(300);
    }
}