@page "/menu/{SelectedCategoryString}"

@inject IJSRuntime JsRuntime
@inject MenuRepository MenuRepo 
@inject User User 
@inject NavigationManager NavigationManager

@*Categories*@
<div class='category-bar'>
    <button class='left-arrow' >&lsaquo;</button>
    <div class='scroll-categories' id='scroll-categories'>
        <div class='categories'>
            @foreach(var category in Categories)
            {
                <input type="radio" id="@category" name="categories" value="@category" 
                    style="display: none;" checked="@(SelectedCategory == category)" 
                    @onchange="@(() => { SelectedCategory = category; UpdateMenuCategory();})">
                <label class='category' for="@category">@category</label><br>
            }
        </div>
    </div>
    <button class='right-arrow'>&rsaquo;</button>
</div>

@*Menu*@
<div class='menu'>
    @*Filter*@
    <div class='filter-container'>
        @*Filter button*@
        <button class='filter-button' @onclick=ToggleFilterPopup>
            Filter
            @if(SelectedFilters.Any()) { <span class='filter-number'>@SelectedFilters.Count()</span> }
            <span class="iconify" data-icon="mdi:filter"  data-width="40" data-height="40">></span>
        </button>
        @*Filter popup*@
        @if(ShowFilterPopup)
        {
            <div class='filter-popup'>
                @foreach(var filter in Filters)
                {
                    <input type="checkbox" id="@filter" name="@filter" value="@filter" 
                    checked="@IsFilterChecked(filter)" 
                    @onchange="@(() => { ToggleCheckedFilter(filter); UpdateMenuCategory();})">
                    <label class='filter' for="@filter">@filter</label><br>
                }
            </div> 
        }
    </div>
    @if (ShowFilterPopup)
    {
        <div class='outside-filter-popup' @onclick=ToggleFilterPopup></div>
    }

    <h1>@SelectedCategory</h1>

    @*Menu List*@
    <ul>
        @foreach(var menuItem in DisplayMenuList)
        {
            <li class='menu-item'>
                <button class='menu-item-container' @onclick="@(() => { OpenFoodDetailsPage(menuItem);})">
                    <img src=@menuItem.ImgLink>
                    <div style='padding: 0.5rem; flex-grow: 1;'>
                         <div class='row'>
                            <p style="font-weight:bold; margin-right:auto">@menuItem.Name</p>
                            <p style="margin-left:auto">$@menuItem.Price</p>
                        </div>
                        <div class='row'>
                            <p>@menuItem.Description</p>
                        </div>
                    </div>
                </button>
                <button class='pin-button @GetPinnedClass(menuItem)' 
                    @onclick:preventDefault="true"
                    @onclick:stopPropagation="true"
                    @onclick="@(() => TogglePinButton(menuItem))">
                    <span class="iconify pin-icon" data-icon="bi:pin-angle-fill" data-width="30" data-height="30"></span>
                </button>
            </li>
        }
    </ul>

    @if(ShowFoodDetails)
    {
        <div class='food-details-popup'>
            <FoodDetails FoodItem=@SelectedMenuItem NavigateToMenu=@CloseFoodDetailsPage/>
        </div>
        <div class='slide-up-popup' @onclick="@(() => {ShowFoodDetails=false;})"></div>
    }

</div>

@code 
{
    List<MenuCategory> Categories = Enum.GetValues(typeof(MenuCategory)).Cast<MenuCategory>().ToList();
    List<MenuTag> Filters = Enum.GetValues(typeof(MenuTag)).Cast<MenuTag>().ToList();

    /* GUI_Bindings */ 
    [Parameter]
    public string SelectedCategoryString { get; set; }
    public MenuCategory SelectedCategory { get; set; }

    public List<MenuTag> SelectedFilters = new List<MenuTag>();
    public bool ShowFilterPopup { get; set; }

    public List<MenuItem> DisplayMenuList = new List<MenuItem>();
    public MenuItem SelectedMenuItem { get; set; }

    public bool ShowFoodDetails {  get;  set; }

    protected override void OnInitialized()
    {
        SelectedCategory = (MenuCategory)Enum.Parse(typeof(MenuCategory), SelectedCategoryString);
        ShowFilterPopup = false;
        ShowFoodDetails = false;
        UpdateMenuCategory();
        base.OnInitialized();
    }

    /* Food Details */
    private void OpenFoodDetailsPage(MenuItem menuItem)
    {
        ShowFoodDetails = true;
        Console.WriteLine("Open food details");
        SelectedMenuItem = menuItem;
        //await ToggleTransition();

        //NavigationManager.NavigateTo($"menu/{SelectedCategory}/details/{menuItem.Id}");
    }

    private void CloseFoodDetailsPage()
    {
        ShowFoodDetails=false;
        StateHasChanged();
    }

    /* Categories/Filtering */ 
    private void UpdateMenuCategory()
    {
        // Filter by Category
        if(SelectedCategory == MenuCategory.Pinned)
        {
            DisplayMenuList = User.PinnedItems;
        }
        else
        {
            DisplayMenuList = MenuRepo.GetMenuByCategory(SelectedCategory);
        }

        // Filter by Tags
        if(SelectedFilters.Any())
        {
             DisplayMenuList = DisplayMenuList.Where(menuItem => SelectedFilters.All(menuItem.Tags.Contains)).ToList();
        }
    }

    private void ToggleFilterPopup()
    {
        ShowFilterPopup = !ShowFilterPopup;
    }

    private bool IsFilterChecked(MenuTag filter)
    {
        return SelectedFilters.Contains(filter);
    }

    private void ToggleCheckedFilter(MenuTag filter)
    {
        if(IsFilterChecked(filter))
        {
            SelectedFilters.Remove(filter);
        }
        else
        {
            SelectedFilters.Add(filter);
        }
    }


    /* Pinning */  
    private string GetPinnedClass(MenuItem item)
    {
        return User.PinnedItems.Contains(item) ? "pinned" : "";
    }

    private void TogglePinButton(MenuItem item)
    {
        if(User.PinnedItems.Contains(item))
        {
            User.PinnedItems.Remove(item);   
        }
        else
        {
            User.PinnedItems.Add(item);   
        }
    }

    public async Task ToggleTransition()
    {
        await Task.Delay(300);
    }
}