@page "/menu/{SelectedCategoryString}"

@inject IJSRuntime JsRuntime
@inject MenuRepository MenuRepo 
@inject User User 
@inject NavigationManager NavigationManager
@inject IToastService ToastService

@*Categories*@
<div class='category-bar'>
    <button class='left-arrow' >&lsaquo;</button>
    <div class='scroll-categories' id='scroll-categories'>
        <div class='categories'>
            @foreach(var category in Categories)
            {
                <input type="radio" id="@category" name="categories" value="@category" 
                    style="display: none;" checked="@(SelectedCategory == category)" 
                    onclick=" window.scrollTo({
                      top: top,
                      left: 0,
                      behavior: 'smooth'
                    });"
                    @onchange="@(() => { SelectedCategory = category; UpdateMenuCategory();})">
                <label class='category' for="@category">@category</label><br>
            }
        </div>
    </div>
    <button class='right-arrow'>&rsaquo;</button>
</div>

@*Menu*@
<div class='menu' id='menu'>
    @*Filter*@
    <div class='filter-container'>
        @*Filter button*@
        <button class='filter-button' @onclick=ToggleFilterPopup>
            Sort By Diet 
            @if(SelectedFilters.Any()) { <span class='filter-number'>@SelectedFilters.Count()</span> }
            <span class="iconify" data-icon="mdi:filter"  data-width="40" data-height="40">></span>
        </button>
        @*Filter popup*@
        @if(ShowFilterPopup)
        {
            <div class='filter-popup'>
                <button class='clear-all-button' @onclick=@ClearSelectedFilters>
                    Clear All
                </button>
                @foreach(var filter in Filters)
                {
                    <input type="checkbox" id="@filter" name="@filter" value="@filter" 
                    checked="@IsFilterChecked(filter)" 
                    @onchange="@(() => { ToggleCheckedFilter(filter); UpdateMenuCategory();})">
                    <label class='filter' for="@filter">@filter.AsDisplayString()</label><br>
                }
            </div> 
        }
    </div>
    @if (ShowFilterPopup)
    {
        <div class='outside-filter-popup' @onclick=ToggleFilterPopup></div>
    }


    <h1 id='menu-header'>@SelectedCategory</h1>

    @*Menu List*@
    @if(DisplayMenuList.Any())
    {
        <ul>
        @foreach(var menuItem in DisplayMenuList)
        {
            <li class='menu-item'>
                <button class='menu-item-container' @onclick="@(() => { OpenFoodDetailsPage(menuItem);})">
                    <img src=@menuItem.ImgLink>
                    <div class='menu-item-details'>
                         <div class='row'>
                            <p style="font-weight:bold; margin-right:auto; font-size:18px;">
                                @menuItem.Name
                            </p>
                            <p style="font-weight:bold; margin-left:auto">$@string.Format("{0:N2}", menuItem.Price)</p>
                        </div>
                        <div class='row'>
                            <p style='font-size: 14px; margin-bottom: 5px;'>@menuItem.Description</p>
                        </div>
                    </div>
                </button>
                <button class='pin-button @GetPinnedClass(menuItem)' 
                    @onclick:preventDefault="true"
                    @onclick:stopPropagation="true"
                    @onclick="@(() => TogglePinButton(menuItem))">
                    <span class="iconify pin-icon" data-icon="bi:pin-angle-fill" data-width="35" data-height="35"></span>
                </button>
            </li>
        }
        </ul>
    }
    else
    {
        @*Empty Pages*@
        @if(SelectedCategory == MenuCategory.Pinned)
        {
            <div class='empty'>
                <span class="iconify" data-icon="ic:baseline-pin-off" 
                data-width="150" data-height="150"></span>
                <br/><br/>
                <span>Looks like you haven't pinned any items.</span>
                <br/><br/>
                <span>Pin items from the menu by clicking the </span>
                <span class="iconify pin-icon" style='margin-bottom: 1rem; margin-left: 0.5rem; margin-right: 1rem;' 
                data-icon="bi:pin-angle-fill" data-width="30" data-height="30"></span>
                <span> on the bottom-right of the dish!</span>
            </div>
        }
        else
        {
            <div class='empty centered'>
                <span>Sorry, there are no menu items that match.</span>
            </div>
        }
    }

    @*Cart Accordion*@
    <div class='cart-accordion fixed-bottom'>
        <button class='accordion-button' @onclick=ToggleCartAccordion>
            <span class="iconify align-self-center cart-icon" 
            data-icon="ant-design:shopping-cart-outline" data-width="30" data-height="30"></span>
            <span class='align-self-center'>Cart</span>
            <span class='align-self-center'>(@User.Cart.Count())</span>
            @if(ShowCartAccordion)
            {
                <span><span class="iconify caret-icon"
                    data-icon="clarity:caret-line" 
                    data-width="25" data-height="25"
                    data-rotate="0deg"></span></span>
            }
            else
            {
                <span><span class="iconify caret-icon"
                    data-icon="clarity:caret-line" 
                    data-width="25" data-height="25"
                    data-rotate="180deg"></span></span>
            }
        </button>
        @*@if(ShowCartAccordion)*@
        @*{*@
            @if(User.Cart.Any())
            {
                <ul class='accordion-list @(ShowCartAccordion ? "show" : "")'>
                @foreach(var item in User.Cart)
                {
                    <li class='cart-item'>
                        @item.MenuItem.Name
                    </li>    
                }
                </ul>
            }
            else
            {
                <p class='accordion-list @(ShowCartAccordion ? "show" : "")'>
                    Your cart is empty. Try adding items from the menu!
                </p>               
            }
        @*}*@
    </div>
   
    
    @*Food Details Popup*@
    @if(ShowFoodDetails)
    {
        <div class='food-details-popup'>
            <FoodDetails FoodItem=@SelectedMenuItem 
                        NavigateBack=@CloseFoodDetailsPage           
                        Update="false"
                        FromPage='Menu'/>
        </div>
        <div class='black-overlay-popup' @onclick="@(() => {ShowFoodDetails=false;})"></div>
    }

</div>

@code 
{
    List<MenuCategory> Categories = Enum.GetValues(typeof(MenuCategory)).Cast<MenuCategory>().ToList();
    List<MenuTag> Filters = Enum.GetValues(typeof(MenuTag)).Cast<MenuTag>().ToList();

    /* GUI_Bindings */ 
    [Parameter]
    public string SelectedCategoryString { get; set; }
    public MenuCategory SelectedCategory { get; set; }
    public MenuItem SelectedMenuItem { get; set; }

    public List<MenuTag> SelectedFilters = new List<MenuTag>();
    public List<MenuItem> DisplayMenuList = new List<MenuItem>();

    public bool ShowFilterPopup { get; set; }
    public bool ShowFoodDetails {  get;  set; }
    public bool ShowCartAccordion {  get;  set; }

    protected override void OnInitialized()
    {
        SelectedCategory = (MenuCategory)Enum.Parse(typeof(MenuCategory), SelectedCategoryString);

        ShowFilterPopup = false;
        ShowFoodDetails = false;
        ShowCartAccordion = false;

        UpdateMenuCategory();
        base.OnInitialized();
    }

    /* Food Details */
    private void OpenFoodDetailsPage(MenuItem menuItem)
    {
        ShowFoodDetails = true;
        Console.WriteLine("Open food details");
        SelectedMenuItem = menuItem;
    }

    private void CloseFoodDetailsPage()
    {
        ShowFoodDetails=false;
        StateHasChanged();
    }

    /* Cart Accordion */
    private void ToggleCartAccordion()
    {
        ShowCartAccordion = !ShowCartAccordion;
    }

    /* Categories/Filtering */ 
    private void UpdateMenuCategory()
    {
        // Filter by Category
        if(SelectedCategory == MenuCategory.Pinned)
        {
            DisplayMenuList = User.PinnedItems;
        }
        else
        {
            DisplayMenuList = MenuRepo.GetMenuByCategory(SelectedCategory);
        }

        // Filter by Tags
        if(SelectedFilters.Any())
        {
            DisplayMenuList = DisplayMenuList.Where(menuItem => SelectedFilters.All(menuItem.Tags.Contains)).ToList();
        }
    }

    private void ClearSelectedFilters()
    {
        SelectedFilters.Clear();
        UpdateMenuCategory();
    }

    private void ToggleFilterPopup()
    {
        ShowFilterPopup = !ShowFilterPopup;
    }

    private bool IsFilterChecked(MenuTag filter)
    {
        return SelectedFilters.Contains(filter);
    }

    private void ToggleCheckedFilter(MenuTag filter)
    {
        if(IsFilterChecked(filter))
        {
            SelectedFilters.Remove(filter);
        }
        else
        {
            SelectedFilters.Add(filter);
        }
    }


    /* Pinning */  
    private string GetPinnedClass(MenuItem item)
    {
        return User.PinnedItems.Contains(item) ? "pinned" : "";
    }

    private void TogglePinButton(MenuItem item)
    {
        if(User.PinnedItems.Contains(item))
        {
            User.PinnedItems.Remove(item);   
        }
        else
        {
            User.PinnedItems.Add(item);
            ToastService.ShowInfo($"Added {item.Name} to Pinned");
        }
    }

    public async Task ToggleTransition()
    {
        await Task.Delay(300);
    }
}