@inject NavigationManager NavigationManager

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />


<nav class="navbar navbar-fixed-top navbar-collapse" id="head-navbar">
  <ul class="nav navbar-nav">
    <li>
        <a class="nav-item @GetActive("menu")" href="menu/Popular">
             <span class="iconify" data-icon="carbon:notebook" data-width="30" data-height="30"></span>
            Menu
        </a>
    </li>
    <li>
        <a class="nav-item @GetActive("cart")" href="cart">
            <span class="iconify" data-icon="ant-design:shopping-cart-outline" data-width="30" data-height="30"></span>
            Cart
        </a>
    </li>
    <li>
        <a class="nav-item @GetActive("order")" href="order">
            <span class="iconify" data-icon="emojione-monotone:fork-and-knife-with-plate" data-width="30" data-height="30"></span>
            Order
        </a>
    </li>
    <li>
        <a class="nav-item @GetActive("callWaiter")" href="callWaiter" >
            <span class="iconify" data-icon="charm:person" data-width="30" data-height="30"></span>
            Call Waiter
        </a>
    </li>
    <li>
        <a class="nav-item @GetActive("help")" href="help" >
             <span class="iconify" data-icon="bx:help-circle" data-width="30" data-height="30"></span>
            Help
        </a>
    </li>
  </ul>
  
  <ul class="nav navbar-nav pull-right">
    @* <li><a href="#">DE</a>
    </li>
    <li><a href="#">IT</a>
    </li> *@
  </ul>
</nav>

@code 
{
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += (s, e) => StateHasChanged();
    }

    bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }

    string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        return IsActive(href, navLinkMatch) ? "active" : "";
    }
}